body {
	background-color: black;
}

.contact {
	background-color: #008;
	color: #fff;
	height: 90%;
	float: left;
	width: 10%;
}

.work {
	background-color:#ccc;
	text-align:center;
	top:50%;
	height:90%;
}

.sig {
	position:absolute;
	right:-4%;
	top:66%;
}
